html,
body {
    height: 100%;
    background-color: #eee;
}

html,
body,
input,
textarea,
button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/**
 * Layout CSS
 */

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    transition: left 0.2s;
}

#sidedrawer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    left: -200px;
    overflow: hidden;
    z-index: 2;
    background-color: #fff;
    transition: transform 0.2s;
}

#content-wrapper {
    min-height: 100%;
    overflow-x: hidden;
    margin-left: 0;
    transition: margin-left 0.2s;

    /* sticky bottom */
    box-sizing: border-box;
    margin-bottom: -160px;
    padding-bottom: 160px;
}

#footer {
    box-sizing: border-box;
    height: 160px;
    margin-left: 0;
    transition: margin-left 0.2s;
}

@media (min-width: 768px) {
    #header {
        left: 200px;
    }

    #sidedrawer {
        transform: translate(200px);
    }

    #content-wrapper {
        margin-left: 200px;
    }

    #footer {
        margin-left: 200px;
    }

    body.hide-sidedrawer #header {
        left: 0;
    }

    body.hide-sidedrawer #sidedrawer {
        transform: translate(0px);
    }

    body.hide-sidedrawer #content-wrapper {
        margin-left: 0;
    }

    body.hide-sidedrawer #footer {
        margin-left: 0;
    }
}

/**
 * Toggle Sidedrawer
 */
#sidedrawer.active {
    transform: translate(200px);
}

/**
 * Header CSS
 */

.sidedrawer-toggle {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
}

.sidedrawer-toggle:hover {
    color: #fff;
    text-decoration: none;
}

/**
 * Sidedrawer CSS
 */

#sidedrawer-brand {
    padding-left: 20px;
}

#sidedrawer ul {
    list-style: none;
}

#sidedrawer > ul {
    padding-left: 0;
}

#sidedrawer > ul > li:first-child {
    padding-top: 15px;
}

#sidedrawer strong {
    display: block;
    padding: 15px 22px;
    cursor: pointer;
}

#sidedrawer strong[data-hack_css02='true'] {
    margin-left: -100px;
    padding-left: 100px;
}

#sidedrawer strong:hover {
    background-color: #E0E0E0;
}

#sidedrawer strong + ul > li {
    padding: 6px 0;
}

/**
 * This is a hack to get full-width colored backgrounds in the sidebar. If it breaks the sidebar for you, please file an
 * issue with your browser, its version and your OS (Broswers behave differently on different OS)
 * As a work-around, add "css_01" to the "disable" array in quiz.json
 */
.full_width_colors {
    margin-left: -100px;
    padding-left: 100px !important;
}

/**
 * Footer CSS
 */

#footer {
    background-color: #0288D1;
    color: #fff;
}

#footer a {
    color: #fff;
    text-decoration: underline;
}

.bottom-20px {
    margin: 0 0 20px 0;
}

.correct {
    background-color: lightgreen;
    transition: background-color 500ms linear;
}

.incorrect {
    background-color: lightcoral;
    transition: background-color 500ms linear;
}

/* Progress Bar */
.progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: #81d4fa;
    border-radius: 2px;
    background-clip: padding-box;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
}

.progress .determinate {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #0288d1;
    transition: width .3s linear;
}

#deleteProgress {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #c94c4c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    cursor: pointer;
    overflow: hidden;
}

#menu-content-wrapper {
    overflow: auto;
    height: 88.3%;
}